@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
 }

 .body{
    background-image: url("../image/bg.jpg");
    min-height: 100vh;
    opacity: 1;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
 } 

 #scoreBox{
   position: absolute;
   top: 50px;
   right: 188px;
   font-size: 39px;
   font-weight: bold;
   font-family: 'Alkatra', cursive;
 }

#hiscoreBox{
   position: absolute;
   top: 90px;
   right: 150px;
   font-size: 39px;
   font-weight: bold;
   font-family: 'Alkatra', cursive;

 }

 #board{
    background: linear-gradient(rgb(152, 234, 152), rgb(228, 228, 144)) ;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display:grid;
    grid-template-rows:repeat(18,1fr);
    grid-template-columns:repeat(18,1fr);
    
 }

 .head{
   background: linear-gradient(black,gray);
   border: 2px solid black;
   transform: scale(1.02);
   border-radius: 9px;

 }

 .snake{
   background: linear-gradient(lightblue, blue);
   border: .25vmin solid black;
   border-radius: 12px;

 }

 .food{
   background: linear-gradient(orange, red);
   border: .25vmin solid black;
   border-radius: 8px;   
 }